<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Add React in One Minute</title>
  </head>
  <body>

    <p>This is a Proof of Concept web application where react componets are integrated to a pre-existing application using the "simplest" method possible (when compared to re-building the application from scratch using only react)</p>
    <div id="react-banner"></div>

    <!-- Load our React components -->
    <script src="/App.js" type="text/javascript"></script>

  </body>
</html>